.axis path, 
.axis line {
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: black;
}

.line {
    fill: none; 
    stroke-width: 2px;
}

.line.max {
    stroke: green;
}

.line.mean {
    stroke: #2F2F2F;
}

.line.min {
    stroke: blue;
}

.chart-title {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
}

.axis-label {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
}