body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 1em;
}

#title {
  font-size: 2em;
  margin: 0.5em 0;
  text-align: center;
}

#costco-guys-picture {
  text-align: center;
}

#subtitle {
  font-size: 0.8em;
  margin: 1em 0;
  text-align: center;
}

#source {
  font-size: 0.8em;
  text-align: center;
  color: grey;
}

#facts {
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.7;
}

#review {
  margin: 0 auto;
  max-width: 900px;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.7;
}